<div class="jumbotron"><h1>About GitChoc</h1>
<p class="lead">Whenever a student answers a question correctly, they receive a chocolate.</p>
</div>
<%= image_tag "5976ev.jpg" %>
<p class="display-6">
Credits to: Lex</p>